




/* font family for my title a other headings */

@font-face{
    font-family: 'courier-punk-version';
    src: url('./fonts/courier-punk-version.ttf') format('truetype');
    font-weight: 900;

    }