



/* Background information */

body { background-color: #ffc40c;    /* Mikado Yellow */

}




/* These are my specs for my typography designs*/ 


h1 {   /* title */
    font-family: 'poster';
    font-size: 90px;
    color: black;
    text-align: center

}


h2 { /*subheadings*/

    font-family: 'poster';


}

p{ /*discription text*/



}





/* header navagation bar */


header { 

    background-color: red;
    border-width: 5px;
    border-color:black;
    border-style: solid;
    height: 80px;
    width: auto;

}

ul {
    
    text-align: center;
    padding: 10px;
    font-size: 100%;
}

li{
  display: inline-block;
}