



/* Background information */

body{ background-color: #ffc40c;    /* Mikado Yellow */
    
    

}




/* These are my specs for my typography designs accross all pages */ 


h1{   /* title */
    font-family: 'riot';
    font-size: 90px;
    color: black;
    text-align: center

}

h2{ /*subheadings*/
    font-family:'riot';
    
}

hr{
    margin:5px;
    color: black;
}


/* header navagation bar */

header{ 

    background-color: red;
    border-width: 5px;
    border-color:black;
    border-style: solid;
    height: 80px;
    width: 100%;

}

ul{
    
    text-align: center;
    padding: 10px;
    font-size: 100%;
}

li{
  display: inline-block;
}






/* bio page informations*/


h3{ /* bio font specs */
    color: white;
}

p{ /*discription text for bio */
    color: white;



}

.bio-container{
    width: 35%; 
    min-height: auto;
    max-height: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    border-style: double; /* I decided to add a groove border */
    border-width: 2px;
    display: inline-block; 

    
}

.overflow-scroll{
    overflow: scroll;
}



.paragraph-bio{
    width: 50%; 
    min-height: auto;
    max-height: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    border-style: double; /* I decided to add a groove border */
    border-width: 2px;
    font-size: 20px;
    display: inline-block; 
    float:left;
   
}