
/* These are my font specs */ 


@font-face {
    font-family: 'winter-resistance';
    src: url('C:\Users\sonic\Desktop\MART341-WebDesign\WebDesign-HomeWork\assignment-week11\fonts\winter-resistance.otf') format('Opentype');
    font-weight: 900;
   
    }


@font-face {
    font-family: 'my-skinny-jeans';
    src: url('C:\Users\sonic\Desktop\MART341-WebDesign\WebDesign-HomeWork\assignment-week11\fonts\myskinnyjeans.ttf') format('Opentype');
    font-weight: 400;
    
    
}