



body{

        background-color: #123024;  /* Color man: Phthalo*/
        




}



.heading-container{

    width: 200px;
    float: center;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color:black;


}



.photo-shoots{


}