



body{

        background-color: #123024;  /* Color man: Phthalo*/
        
}


h1{
    font-size: 100px; 
    text-align: center;
    color: white;
}


h2{
    fontsize: 100px;
    color: white;

}


h3{

}


p{
    font-size: 12%;
    text-align: center;
    color:white
}


.heading-container{

    width: 100%;
    background-color: black;
    border-style: solid;
    border-width: 5px;
    border-color: white;

}


.photoshoot-container{

            width: 30%;
            padding:15px;
            margin: 20px;
            background-color: black;
            box-sizing: border-box;
            text-align: center;
            border-color: white;


}


.photo-shoots{

            width: 100%;
            height: auto;
            display: 

}